# Site settings
title: The Brain Lab
description: >-
  Hi there, Welcome to the Brain Lab!
  This is the place to put my musings about life, technology, geekdom, and whatever else comes to my mind
lang: en-US
timezone: America/New_York
image: assets/img/ogp.png # This image used for Open Graph more info https://ogp.me/
repo: https://github.com/tux234/thebrainlab-site
mode: dark # default theme "dark" | "light"

# Profile settings
author:
  name: Good Ol' Admin
  bio: >-
   A mild mannered IT Admin, trying to become a better net citizen.
  username: username
  email: your-email@email.com
  avatar: /assets/img/avatar.jpeg

# Url settings
url: "https://thebrainlab.xyz"
baseurl:
permalink: /:title/
google_analytics:
fb_appid:

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: false

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Build settings
sass:
  style: compressed

include:
  - _redirects
  - .htaccess

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - CHANGELOG.md
  - README.md
  - node_modules
  - CODE_OF_CONDUCT.md

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sass-converter
  - jekyll-sitemap
  - jekyll-postfiles
